html, body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

.bg-text {
  color: #d17000;
  font-size: 4.6em;
  font-weight: 700;
  font-family: "Salsa", cursive;
  width: 100%;
  padding: 2.6em 0px 0px 1.5em;
  text-shadow: #000000 10px 10px 5px;
}

.bg-text-2 {
  color: #d17000d7;
  font-size: 2.6em;
  font-weight: 700;
  font-family: "Salsa", cursive;
  width: 100%;
  padding: 0px 0px 0px 2.7em;
  text-shadow: #2e2e2e 0.3em 0.1em 5px;
}

.about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.about p {
  background-color: rgba(222, 235, 235, 0.767);
  border-radius: 10px;
  border: #d17000 1px solid;
  border-style: solid ridge;
  width: 60%;
  padding: 1em;
  font-family: "Salsa", cursive;
  font-size: larger;
}

#profile-image {
  border-radius: 12%;
  height: 20%;
  width: 20%;
  filter: grayscale(100%);
}

#image {
  max-width: 100%;
  height: 800px;
  background: url('./images/pexels-gabriel-peter-219375-696644.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#contact {
  box-sizing: inherit;
  z-index: 2;
  margin: 0 auto 1.7em auto;
  width: 60dvw;
  padding: 1.5em 1em 1.5em 1em;
  backdrop-filter: blur(3px); 
  background-color: rgba(255, 255, 255, 0); 
  border-radius: 23px; 
  box-shadow: 0px 35px 68px 0px rgba(0, 0, 0, 0.5), 
              inset 0px -12px 16px 0px rgba(0, 0, 0, 0.6), 
              inset 0px 11px 28px 0px rgb(255, 255, 255);
}

main {
  height: 100vh;
  width: 100%;
  background: linear-gradient(to bottom, #000000, #383838);
  box-sizing: inherit;
  padding-bottom: 1em;
}

nav {
  z-index: 10;
  position: fixed;
  width: 100%;
  padding: 1em 0.6em 0 0.6em;
  backdrop-filter: blur(3px); 
  background-color: transparent; 
  border-radius: 12px; 
  box-shadow: -35px 35px 68px 0px rgba(0, 0, 0, 0.5);
              /* inset 0px -0px 16px 0px rgba(0, 0, 0, 0.6), 
              inset 0px 11px 28px 0px rgba(116, 116, 116, 0.116); */
}

ul {
  padding: 0.5em;
  margin: 0;
}

li {
  list-style-type: none;
  margin-right: 25px;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0.4em;;
  animation: glowing 1.7s infinite;
  border-radius: 15px;
}

.home {
  width: 65px;
}

.projects {
  width: 85px;
}

.contact {
  width: 105px;
}

.grid-projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  background-color: black;
  width: 100%;
  border: #d17000 solid 4px;
  padding: 1em 0.4em 1em 0.4em;
  border-radius: 15px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: #ffa339 solid 3px;
  border-radius: 10px;
  color: #d17000;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: large;
  width: 94%;
  padding-bottom: 1em;
  margin: auto;
}

.card img {
  width: 27em;
  height: 20em;
  border-radius: 20px;
}

.card p {
  color: #c5ac74;
  font-size: small;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-wrap: wrap;
  padding: 0 1.5em 0 1.5em;
  text-align: justify;
}

.card-button {
  padding: 0.5em 0 0.5em 0;
  width: 100%;
}

.card button {
  border-radius: 5px;
  border: solid #d17000 1px;
  background-color: #ffa339;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #d17000;
  padding: 0.5em;
}

.card ul {
  margin: 0;
  width: 100%;
}

.card li {
  font-size: small;
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 3px rgba(245, 245, 245, 0.719);
  }
  50% {
    box-shadow: 0 0 25px #d17000;
  }
  100% {
    box-shadow: 0 0 3px rgba(245, 245, 245, 0.719);
  }
}

.text:hover, .fa-solid:hover {
  color: #d17000;
  transition: 0.5s ease-in-out;
}

a:hover .text, a:hover .fa-solid {
  color: #d17000;
  transition: 0.5s ease-in-out;
}

.flex {
  display: flex;
}

.block {
  display: block;
}

.flex-column {
  flex-direction: column;
}

.justify-end {
  justify-content: end;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.text {
  color: #c5ac74;
  font-family: "Salsa", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
}

.text-start {
  text-align: start;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  font-size: 50px;
  color:black;
  text-shadow: #d17000 3px 0px 2px;
  text-align: center;

}

.contact-p {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 1.6em;
  color:black
}

i {
  color: rgba(141, 141, 141, 0.582);
  font-size: 18px;
}

.pad-20 {
  padding: 0 1em 1em 1em ;
}

.margin-top {
  margin-top: 10em;
}

.gap-box {
  gap: 10em
}

.box-size {
  height: max-content;
  width: 100%;
  padding: 0.5em;
  border-radius: 20px;
  border: solid rgb(0, 0, 0) 3px;
  background: transparent; /* Set background color to transparent */
  backdrop-filter: blur(1px);
  box-shadow: 0px 0px 0px white;
}

.box-size-2 {
  box-sizing: inherit;
  z-index: 2;
  margin: 0 auto 1.7em auto;
  width: calc(100vw - 100px);
  
  backdrop-filter: blur(3px); 
  background-color: rgba(255, 255, 255, 0); 
  border-radius: 23px; 
  box-shadow: 0px 35px 68px 0px rgba(0, 0, 0, 0.5), 
              inset 0px -12px 16px 0px rgba(0, 0, 0, 0.6), 
              inset 0px 11px 28px 0px rgb(255, 255, 255);
}

.box-size-2 h2 {
  color: #ffa339;
}

.form {
  border: #ffa339 solid 0.5em;
  padding: 1em;
  border-radius: 0.7em;
  width: 25em;
  background-color: #000000ee;
}

form button {
  width: auto;
  min-height: min-content;
  background-color: black;
  color: #ffa339;
  font-family: "Open Sans", sans-serif;
  border-radius: 0.5em;
  font-weight: 700;
  font-style: normal;
  font-size: large;
  box-shadow: 0em 0em 1em white;
  animation: glowing 1.7s infinite;
}

input {
  width: 100%;
  margin-bottom: 1.5em;
  border-radius: 0.7em;
}

label {
  color: #d17000;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: medium;
  margin-bottom: 0.2em;
}

textarea {
  width: 100%;
  border-radius: 0.7em;
  margin-bottom: 1.5em;
  padding: 0.3em;
}

::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}

::-webkit-scrollbar-track {
  background-color: transparent;

}

::-webkit-scrollbar-thumb {
  background-color: #d17000;
  border-radius: 10px;
}

